<div class="container-fluid">
    <div class="content text-center">
        <div class="jumbotron  mt-2">
            <h1 class="display-3">Welcome Students!</h1>
            <p class="lead">This is a an online platform for the enrollment of students in various certifications.</p>
            <hr class="my-4">
            <p></p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
        <div class="card-all d-flex ">
            <div class="card m-3">
                <div class="card-img">
                    <img src="../../assets/js_img.png" class="card-img-top img-fluid" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">JavaScript</h5>
                    <p class="card-text">JavaScript is a scripting language that makes interactive web pages.</p>
                    <a href="#" class="btn btn-primary">Learn</a>
                </div>
            </div>
            <div class="card m-3" style="width: 18rem;">
                <div class="card-img">
                    <img src="../../assets/html_img.png" class="card-img-top img-fluid" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">HTML</h5>
                    <p class="card-text">HTML is a standard markup language that structure our web pages</p>
                    <a href="#" class="btn btn-primary">Learn</a>
                </div>
            </div>
            <div class="card m-3" style="width: 18rem;">
                <div class="card-img">
                    <img src="../../assets/css_img.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CSS</h5>
                    <p class="card-text">CSS is a style sheet language used to styling a HTML document</p>
                    <a href="#" class="btn btn-primary">Learn</a>
                </div>
            </div>
            <div class="card m-3" style="width: 18rem;">
                <div class="card-img">
                    <img src="../../assets/c_img.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">C</h5>
                    <p class="card-text">C is a procedural programming language developed by Dennis Ritchie.</p>
                    <a href="#" class="btn btn-primary">Learn</a>
                </div>
            </div>
        </div>
    </div>
</div>